@model IEnumerable<Craft.Models.Craft.Bar>

@{
    ViewBag.Title = "Bar List";
}

<h2>Bar List</h2>

<p class="btn btn-default">
    @Html.ActionLink("Add a Bar", "AddBars")
</p>
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BarName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BarId }) |
                @Html.ActionLink("Add Beers", "AddBeers", new { id = item.BarId }) |
                @Html.ActionLink("Remove", "RemoveBar", new { id = item.BarId })
            </td>
        </tr>
    }

</table>

