@model Craft.Models.CustBarSearchViewModel
@{
    ViewBag.Title = "MapView";
}

<h3>Map View</h3>

<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>

<br />

<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Legend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeerBars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stringAddresses)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model.BeerBars)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Legend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a href="https://www.google.com/maps/dir/@Model.CustAddress/@item.Address">Directions</a>
            </td>

        </tr>
    }
</table>
<br />
@using (Html.BeginForm())
{

}

<h3>Bar Locations</h3>

<div id="map"></div>
@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0h7OvlFvbbVkRpma551VW8O--QReBpRE">
    </script>
    <script>
        
        var stringAddresses = @Html.Raw(Json.Encode(Model.stringAddresses));
        var BeerBars = @Html.Raw(Json.Encode(Model.BeerBars));       
        
        $(document).ready(function () {
            var map;
            var elevator;
            var myOptions = {
                zoom: 10,
                center: new google.maps.LatLng(43.020484, -88.063190),
                mapTypeId: 'terrain'
            };
            map = new google.maps.Map($('#map')[0], myOptions);

            var labels = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
            var index = 0;
            for (var x = 0; x < stringAddresses.length; x++) {
                var barTitle = BeerBars[index].BarName;
                $.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address=' + stringAddresses[x] + '&sensor=false', null, function (data) {
                    var p = data.results[0].geometry.location;
                    var latlng = new google.maps.LatLng(p.lat, p.lng);
                    new google.maps.Marker({
                        position: latlng,
                        label: labels[index++],
                        //title: BeerBars[index].BarName,
                        map: map
                    });
                    map.center=latlng;
                });

            }
          
            });
       
    </script>

}

<br />
<br />


