@model Craft.Models.FavoritesViewModel
@{
    ViewBag.Title = "AddToFavorites";
}

<h3>Add To Favorites</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h5>Select a Beer to Favorite</h5>*@
        @*<hr />*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.AvailableBeerNames, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.BeerId, Model.AvailableBeerNames, "--Select A Beer From List--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AvailableBeerNames, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Select" class="btn btn-default" />
            </div>
        </div>
    </div>
}
    <h3>Favorites</h3>

<table class="table">
    
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FavoriteBeer)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.FavoriteBeer)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BeerName)
            </td>
            <td>
                @Html.ActionLink("Remove", "RemoveBeer", new { id = item.BeerId})
            </td>
        </tr>
    }

</table>

<h3>Recommended For You</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RecommendedBeers)
        </th>
        <th>
            <p>Description</p>
        </th>
        <th>
            <p>Type</p>
        </th>
        <th>
            <p>ABV</p>
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.RecommendedBeers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BeerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ABV)
            </td>
            
        </tr>
    }

</table>