@model Craft.Models.Craft.Favorite

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Favorite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Beer.BeerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beer.BeerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FavoriteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
